* {
    margin: 0;
    padding: 0;
}

.landingvideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.landing0 {
    position: relative;

}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

.LandingText1 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: xxx-large;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px #000000;
    animation: fadein 6s;
}

.LandingText2 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px #000000;
    text-align: justify;
    animation: fadein 6s;
}
