* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2f2f2;
}

.signincontainer {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width:120px;
    height: auto;
}

.signIn-Header {
    font-size: 30px;
    color: #399B53;
    margin-top: -20px;
}

.signIn-Form {
    width: 30%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.inputsignin {
    width: 300px;
    height: 30px;
    font-size: 16px;
    padding-left: 10px;
}

.ForgotPassword {
    font-size: 20px;
    color: #399B53;
    text-decoration: none;
    margin-top: -10px;
    margin-bottom: -10px;
}

.signIn-Button {
    width: 300px;
    height: 30px;
    font-size: 16px;
    background-color: #399B53;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signIn-Button:hover {
    background-color: #000000;
}

.forgotpass {
    color: gray;
}

.forgotpass:hover {
    text-decoration: underline;
}