* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgb(255, 255, 255);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.NavInfo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.NavInfo a:hover {
    text-decoration: underline;
    color: black;
    transform: scale(1.3);
    transition: all 0.3s ease-in-out;
}

a {
    text-decoration: none;
    color: #399B53;
    font-size: 20px;
    font-size: bold;
}

.logo {
    width: 100px;
    height: 90px;
    margin: auto;
}
